body {
	background-color: #FFF;
	color: #232BCF;
	font-family: 'Arimo', sans-serif;
}
.container {
	max-width: 900px;
	padding-bottom:5%;
	margin: auto;
	background-color: #F6D6FB;
	box-shadow: 10px 10px 5px #888888;
}

#pageTitle{
	/*height: 80px;*/
	background: none repeat scroll 0% 0% #F6D6FB;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
}
.nav{
	background-color: #FE2B41;
	padding: 2%;
	font-size: 18px;
}
.main{
	padding-left: 2%;
	padding-right: 2%;
}

ul {
	list-style-type: none;
	padding-left: 0;
}
li {
	display: inline;
	padding-right: 1%;
}
img{
	width: 100%
}

a {
	text-decoration: none;
}

input {
	/*margin: 0,5%;*/
	font-family: monospace;
}
input[type=text] {
   border: 3px inset #FFA5A5; 
   outline:0; 
   height:25px; 
   width: 275px; 
}

h1 {
	font-size: 50px;
}
form {
	font-family: 'Arimo', sans-serif;
}

